# My Library
carlogtt-python-library

# Runtime dependencies
python-dotenv
requests
pyyaml

# Test dependencies
pytest

# Type checking depencencies
types-PyYAML

# Documentation dependencies
sphinx

# Build dependencies
build
twine

# Development dependencies
black
isort
mypy
flake8
pep8-naming
